<div>
    <h2>Login here</h2>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email">
        <div *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched">
          Valid email is required.
        </div>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password">
      </div>
      <button type="submit" [disabled]="myForm.invalid">Login</button>
      <a routerLink="/register" >Register</a>
    </form>
</div>